@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    * {
        scroll-behavior: smooth;
    }
    
    body{
        background-color:#0b1121;
        overflow-x:hidden;
        color: #fff;
    }
    .scroll-down{
        transform: -50%,-50%;
        top: 20%;
        animation: scrollDown 1.3s ease-in infinite;
    }
    @keyframes scrollDown{
        from{
            opacity: 0.2;
            top:20%;
        }
        to{
            opactiy:1;
            top:80%;
        }
    }
    .stroked{
        -webkit-text-stroke: .5px white;
        
    }
   
}
